<h3 id="comments">{{ site.data.language.comments_headline }}</h3>
<script src="https://giscus.app/client.js"
        data-repo={{ site.giscus.repo }}
        data-repo-id={{ site.giscus.repo-id }}
        data-category={{ site.giscus.category }}
        data-category-id={{ site.giscus.category-id }}
        data-mapping={{ site.giscus.mapping }}
        data-reactions-enabled={{ site.giscus.reaction-enabled }}
        data-emit-metadata={{ site.giscus.emit-metadata }}
        data-theme={{ site.giscus.theme }}
        crossorigin={{ site.giscus.crossorigin }}
        async>
</script>
Please read my <a href="{{ site.baseurl }}/blog/comments#policy">comments policy</a>. There are also some <a href="{{ site.baseurl }}/blog/comments#tips">tips</a> given. 
