<div id="up-to-top" class="row">
	<div class="small-12 columns">
		<a href="#top-of-page">{{ site.data.language.go_top }}</a>
	</div>
</div>

<footer id="footer-content">
	<div id="footer">
		<div class="row">
			<div class="small-12 medium-6 large-5 columns">
				<h5 class="shadow-black">{{ site.data.language.info_website }}</h5>

				<p class="shadow-black">
					{{ site.description }}
					<br />
					<a href="{{ site.baseurl }}/siteinfo/">{{ site.data.language.more }}</a>
				</p>
			</div>


			<div class="small-12 medium-3 large-6 large-offset-1 columns">
				<h5 class="shadow-black">Links</h5>
				<ul class="inline-list">
					<li><a href="mailto:sreemanmohanreddy@gmail.com" target="_blank"><i class="fa fa-google fa-3x" aria-hidden="true"></i></a></li>
					<li><a href="https://physics.stackexchange.com/users/264772/kasi-reddy-sreeman-reddy?tab=profile" target="_blank"><i class="fa fa-stack-exchange fa-3x" aria-hidden="true"></i></a></li>
					<li><a href="https://facebook.com/iamsreeman" target="_blank"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a></li>
					<li><a href="https://www.linkedin.com/in/iamsreeman/" target="_blank"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a></li>
					<li><a href="https://www.github.com/iamsreeman" target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></li>
					<li><a href="http://wa.me/+917032905466" target="_blank"><i class="fa fa-whatsapp fa-3x" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>

	</div><!-- /#footer -->


	<div id="subfooter">
		<nav class="row">
			<section id="subfooter-left" class="b30 small-12 medium-6 large-6 columns credits">
				<span><a href="/about">Kasi Reddy Sreeman Reddy</a> &copy;<a href="https://www.youtube.com/watch?v=pI7Jc-fSQQ8">2020</a>-<a href="https://www.youtube.com/watch?v=cott-MKdHWA&t=0m22s">2021</a></span>
			</section>
		</nav>
	</div><!-- /#subfooter -->
</footer>