<div id="up-to-top" class="row">
	<div class="small-12 columns">
		<a href="#top-of-page">{{ site.data.language.go_top }}</a>
	</div>
</div>

<footer id="footer-content">
	<div id="footer">
		<div class="row">
			<div class="small-12 medium-6 large-6 columns">
				<h5 class="shadow-black">Links</h5>
				<a href="mailto:sreemanmohanreddy@gmail.com" target="_blank"><i class="mdi mdi-gmail mdi-48px" aria-hidden="true"></i></a>
				<a href="https://physics.stackexchange.com/users/264772/kasi-reddy-sreeman-reddy?tab=profile" target="_blank"><i class="mdi mdi-stack-exchange mdi-48px" aria-hidden="true"></i></a>
				<a href="https://facebook.com/iamsreeman" target="_blank"><i class="mdi mdi-facebook mdi-48px" aria-hidden="true"></i></a>
				<a href="https://www.linkedin.com/in/iamsreeman/" target="_blank"><i class="mdi mdi-linkedin mdi-48px" aria-hidden="true"></i></a>
				<a href="https://www.github.com/iamsreeman" target="_blank"><i class="mdi mdi-github mdi-48px" aria-hidden="true"></i></a>
				<a href="http://wa.me/+917032905466" target="_blank"><i class="mdi mdi-whatsapp mdi-48px" aria-hidden="true"></i></a>
			</div>
		</div>

	</div><!-- /#footer -->


	<div id="subfooter">
		<nav class="row">
			<section id="subfooter-left" class="b30 small-12 medium-6 large-6 columns credits">
				<span><a href="/about">Kasi Reddy Sreeman Reddy</a> &copy;<a href="https://www.youtube.com/watch?v=pI7Jc-fSQQ8">2020</a>-<a href="https://www.youtube.com/watch?v=cott-MKdHWA&t=0m22s">{{ site.time | date: '%Y' }}</a></span>
			</section>
		</nav>
	</div><!-- /#subfooter -->
</footer>