<div id="up-to-top" class="row">
	<div class="small-12 columns">
		<a href="#top-of-page">{{ site.data.language.go_top }}</a>
	</div>
</div>

<footer id="footer-content">
	<div id="footer">
		<div class="row">
			<div class="small-12 medium-12 large-12 columns">
				<h5 class="shadow-black">Links</h5>
				<br>
				<b>Academic</b><br>
				<a href="https://inspirehep.net/authors/2601354" target="_blank"><i class="si si-inspire si--color" style="font-size:48px" aria-hidden="true"></i></a>
				<a href="https://orcid.org/0000-0002-9897-9573" target="_blank"><i class="si si-orcid si--color" style="font-size:48px" aria-hidden="true"></i></a>
				<a href="https://scholar.google.com/citations?user=oDNLBJwAAAAJ" target="_blank"><i class="si si-googlescholar si--color" style="font-size:48px" aria-hidden="true"></i></a>
				<a href="https://arxiv.org/a/sreemanreddy_k_1.html" target="_blank"><i class="si si-arxiv si--color" style="font-size:48px" aria-hidden="true"></i></a>
				<a href="https://physics.stackexchange.com/users/264772/kasi-reddy-sreeman-reddy?tab=topactivity" target="_blank"><i class="si si-stackexchange si--color" style="font-size:48px" aria-hidden="true"></i></a><br>
				<b>Other</b><br>
				<a href="mailto:kasireddysreemanreddy@gmail.com" target="_blank"><i class="si si-gmail si--color" style="font-size:48px" aria-hidden="true"></i></a>
				<a href="https://twitter.com/IamSreeman" target="_blank"><i class="si si-twitter si--color" style="font-size:48px" aria-hidden="true"></i></a>
				<a href="https://facebook.com/iamsreeman" target="_blank"><i class="si si-facebook si--color" style="font-size:48px" aria-hidden="true"></i></a>
				<a href="https://www.instagram.com/iamsreeman/" target="_blank"><i class="si si-instagram si--color" style="font-size:48px" aria-hidden="true"></i></a>
				<a href="https://www.github.com/iamsreeman" target="_blank"><i class="si si-github si--color" style="font-size:48px" aria-hidden="true"></i></a>	
				<a href="https://www.linkedin.com/in/iamsreeman/" target="_blank"><i class="si si-linkedin si--color" style="font-size:48px" aria-hidden="true"></i></a>
				<a href="https://www.reddit.com/user/iamsreeman" target="_blank"><i class="si si-reddit si--color" style="font-size:48px" aria-hidden="true"></i></a>
				<a href="https://www.youtube.com/@IamSreeman" target="_blank"><i class="si si-youtube si--color" style="font-size:48px" aria-hidden="true"></i></a>
				<a href="https://t.me/iamsreeman" target="_blank"><i class="si si-telegram si--color" style="font-size:48px" aria-hidden="true"></i></a>
				<a href="https://discord.com/users/742382132797898753" target="_blank"><i class="si si-discord si--color" style="font-size:48px" aria-hidden="true"></i></a>
				<a rel="me" href="https://mathstodon.xyz/@ksr" target="_blank"><i class="si si-mastodon si--color" style="font-size:48px" aria-hidden="true"></i></a>
				<a href="https://en.wikipedia.org/wiki/User:Iamsreeman" target="_blank"><i class="si si-wikipedia si--color" style="font-size:48px" aria-hidden="true"></i></a>
				<!--<a href="https://www.blogger.com/profile/01327600119728230830" target="_blank"><i class="si si-blogger si--color" style="font-size:48px" aria-hidden="true"></i></a>-->
				<a href="https://myanimelist.net/animelist/iamnameers?status=7&order=3&order2=0" target="_blank"><i class="si si-myanimelist si--color" style="font-size:48px" aria-hidden="true"></i></a>
			</div>
		</div>
	</div><!-- /#footer -->

	<div id="subfooter">
		<nav class="row">
			<section id="subfooter-left" class="b30 small-12 medium-6 large-6 columns credits">
				<span><a href="/about">Kasi Reddy Sreeman Reddy</a> &copy; <a href="https://www.youtube.com/watch?v=PCfiqY05BpA">2020</a>-<a href="https://www.youtube.com/watch?v=tHCKq3k157c">{{ site.time | date: '%Y' }}</a></span> &nbsp; &nbsp;  <a href="https://github.com/IamSreeman/iamsreeman.github.io" target="_blank" >[Source]</a>
			</section>
		</nav>
	</div><!-- /#subfooter -->
</footer>