{% case include.link.special %}
{% when 'projects' %}
	{% for project in site.projects %}{% if project.published and project.type == 'app' %}
		<li{% if project.url == page_url %} class="active"{% endif %}>
			<a href="{{ site.baseurl }}{{ project.url }}">
				<img src="{{ site.urlimg }}{{ project.images.icon_small }}" />{{ project.title }}
			</a>
		</li>
	{% endif %}{% endfor %}
{% when 'projects-other' %}
	{% for project in site.projects %}{% if project.published and project.type != 'app' %}
	<li{% if project.url == page_url %} class="active"{% endif %}>
		<a href="{{ site.baseurl }}{{ project.url }}">
			<img src="{{ site.urlimg }}{{ project.images.icon_small }}" />{{ project.title }}
		</a>
	</li>
	{% endif %}{% endfor %}
{% when 'blog-categories' %}
	{% for category_entry in site.categories %}
		{% assign category_key = category_entry[0] %}
		{% for category_page in site.pages %}
			{% if category_page.category == category_key %}
				{% assign category_data = category_page %}{% break %}
			{% endif %}
		{% endfor %}
		{% capture category_url %}/blog/category/{{ category_key | slugify }}/{% endcapture %}
		<li{% if category_url == page_url %} class="active"{% endif %}>
			<a href="{{ site.baseurl }}{{ category_url }}" class="icon-alias-category category-{{ category_key }}">{{ category_data.title | escape }}</a>
		</li>
	{% endfor %}
{% when 'blog-tags' %}
{% capture site_tags %}{% for tag in site.tags %}{{ tag[1].size | plus: 1000 }}&#x1F;{{ tag | first }}{% unless forloop.last %}&#x1E;{% endunless %}{% endfor %}{% endcapture %}
{% assign site_tags = site_tags | split: '&#x1E;' | sort | reverse %}
{% capture site_tags %}{% for tag in site_tags %}{{ tag | split: '&#x1F;' | last }}{% unless forloop.last %}&#x1E;{% endunless %}{% endfor %}{% endcapture %}
{% assign site_tags = site_tags | split: '&#x1E;' %}
	{% for tag in site_tags %}
		{% assign tag_data = site.data.tags[tag] %}
		{% capture tag_classes %}tag tag-size-{{ tag_counts[forloop.index0] }} tag-{{ tag | slugify }}{% endcapture %}
		{% capture tag_name %}{% if tag_data.title %}{{ tag_data.title }}{% else %}{{ tag }}{% endif %}{% endcapture %}
		<li{% if tag_url == page_url %} class="active"{% endif %}>
			<a href="{{ site.baseurl }}/blog/tags/#{{ tag | slugify }}" class="icon-alias-tag tag-{{ tag_name | slugify }}">{{ tag_name | escape }}</a>
		</li>
	{% endfor %}
{% when 'blog-years' %}
	{% for post in site.posts reversed %}
		{% assign currentyear = post.date | date: '%Y' %}
		{% if currentyear != year %}
			{% capture year_url %}/blog/archive/#{{ currentyear }}{% endcapture %}
			<li{% if year_url == page_url %} class="active"{% endif %}>
				<a href="{{ site.baseurl }}{{ year_url }}" class="icon-alias-archive">{{ currentyear | escape }}</a>
			</li>
			{% assign year = currentyear %}
		{% endif %}
	{% endfor %}
{% endcase %}
 